body {
    background-color: #fff1e6;
}

.fotogalerie {
    background-color: #f9e3d0;
}

.kontakt {
    background-color: #f9e3d0;
}

.menu {
    background-color: #282425;
}

.paticka {
    background-color: #282425;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
