body {
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #282425;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 48px;
    text-align: center;
    color: #756158;
}

h3 {
    font-size: 24px;
    color: #756158;
}

a {
    font-style: italic;
    color: #756158;
}

/* Menu */

.menu {
    background-color: #282425;
    color: white;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    padding: 10px;
}

/* Sekce */

.fotogalerie {
    background-color: #f9e3d0;
}

.kontakt {
    background-color: #f9e3d0;
}

/* Footer */

.paticka {
    background-color: #282425;
    color: white;
    text-align: center;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
