h1 {
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    }

.foto-omne {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}

.fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}

/* 
    Obrázek v sekci Turistický pruvodce 
    Nastav sirku: 350px
    Zkus vlastni radius
*/

.foto-pruvodce {
    border-radius: 0 50px 50px 50px;
    float: right;
    margin: 0 0 30px 30px;
}

/* 
    Obrázek v sekci Kontakt
    Nastav sirku: 350px
    Zkus vlastni radius
*/
.foto-kontakt {
    border-radius: 50px 0 50px 50px;
    float: left;
    margin: 0 30px 30px 0;
}


table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

/* 
    Nezapomen si nize uvedene classy nastavit
*/
.cena {
    text-align: right;
    padding-left: 50px;
}

.foto-omne-dej-vlevo {
    float: left;
    margin: 0 30px 30px 0;
}

.foto-pruvodce-dej-vpravo {
    float: right;
    margin: 0 0 30px 30px;
}

.foto-kontakt-dej-vlevo {
    float: left;
    margin: 0 30px 30px 0;
}


section {
    padding: 50px 15%;
    overflow: auto;
}

.hlavicka {
    padding: 150px 30px;
    background-image: url(obrazky/hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #756158;
}
